// Page specific style guide


// Tools (components and layouts)

@import "1-tools";


// override default tyle

.bg-dark {
    background: $fta-blue !important;
}

.bg-light {
    background: #fff !important;
}

// Header 

.jumbotron {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

nav .nav-link {
    color: rgba($color: #000000, $alpha: 0.3) !important;
    font-size: 14px !important;
    font-weight: bold;
}

nav {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.070) !important;

    a {
        color: rgba($color: #000000, $alpha: 0.5) !important;
    }

    a.dropdown-item:hover {
        background: transparent !important;
    }

    a.dropdown-item:focus {
        background: transparent !important;
    }

    a.dropdown-item:visited {
        background: transparent !important;
    }
}

.notif::after {
    display:none !important;
}

.dropdown-menu {
    border: solid 0.8px rgba($color: #000000, $alpha: 0.10) !important;
    box-shadow: 10px 20px 42px rgba(0,0,0,0.020) !important;
}

// main content 

// Intro Vid

.intro-vid {
    padding: 50px 0px;
}

//  latest prod

.latest-prod {
    min-height: 400px;
    //background: #fff !important;
    padding: 50px 0px;
}
.latest-prod p.lead {
    width: 100% !important;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 980px) {
            width: 50% !important;
            text-align: center !important;
    }
}


// Home tribe 

.main-tribe, .tribe-row {
    min-height: 500px;

    .col-tribe {
        min-height: 100% !important;

        @media (min-width: 900px) {
            padding: 50px 100px;
        }
    }

    .col-feat-img {
        min-height: 500px !important;
        background: url('../img/home-tribe.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        
    }

}


.social-main-container {
    display: flex !important;
    flex-direction: row !important;
}

 a.social-icons {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 100%;
        margin: 5px;
}


// testimonials

.testimonials {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}


.card {
    border: none !important;
    outline: none !important;
    box-shadow: 0px 20px 42px rgba($color: #000000, $alpha: 0.070) !important; 
}

.card-no-shadow {
    box-shadow: none !important;
}

.testimonials-card .card-body {
    
    @media (min-width: 980px) {
        display: flex !important;
    }
}



// Notification

.fta-notif-style {
    box-shadow: 0px 20px 42px rgba($color: #000000, $alpha: 0.020) !important; 
}

.fta-notif-style a {
    border: 0px 0px 1px 0px solid !important;
    border-color:  rgba(0,0,0,0.050) !important;
    
    @media (min-width: 980px) {
        padding: 50px;
    }
}

// Profile

.user-details {
    p {
        margin-bottom: 0 !important;
        line-height: 2em;
    }
    
    hr {
        background: $fta-orange-light;
        height: 3px;
        width: 50px;
        color: $fta-orange-light;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .user-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

// Tribe Page

.tribe p.lead {
    width: 100% !important;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 980px) {
            width: 70% !important;
            text-align: center !important;
    }
}

.card-leaders .card-body {
    @media (min-width: 980px) {
        display: flex !important;
    }
}


// Modules page
.modules p.lead {
    width: 100% !important;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 980px) {
            width: 70% !important;
            text-align: center !important;
    }
}


// footer 

// social

a.social-icons {
    background: $fta-blue;
    border-radius: 100%;
    margin: 5px;
}

.social-container {
    background: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    a {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;

    p {
        margin-bottom: 0 !important;
    }

    a.social-icons {
        background: $fta-blue;
        border-radius: 100%;
        margin: 5px;
    }
    
}




